@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato&family=Qwitcher+Grypen:wght@700&family=Smooch&family=Ubuntu:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* navbar Styling */

.max-width {
  max-width: 95%;
  margin: auto;
  padding: 0 60px;
}




.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  transition: all 0.3s ease;
  z-index: 9999;
}
.navbar.sticky {
  padding: 5px 0;
  background: crimson;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  color: rgb(0, 0, 0);
  font-size: 45px;
  font-family: "Ubuntu", sans-serif;
  /* font-weight: ; */
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .logo a span {
  color: crimson;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
}

.navbar .menu li a {
  color: rgb(0, 0, 0);
  margin-left: 25px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}
.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu button */

.menu-btn {
  font-size: 23px;
  cursor: pointer;
  display: none;
  color: #fff;
}

.menu-btn1{
  display: inline-block;
}





.scroll-up-button{
  position: fixed;
  height: 40px;
  width: 34px;
  background: crimson;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  z-index: 999999;
  font-size: 30px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-button.show{
  opacity: 1;
  pointer-events: auto;

}


/* home section */

.home {
  display: flex;
  border: 1px solid;
  background: url("pic/Background.png") no-repeat center;
  background-size: cover;
  height: 100vh;
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .hello {
  font-size: 50px;
  font-family: "Smooch", cursive;
  margin-top: 50px;
}

.home .home-content .name {
  font-size: 60px;
  font-family: "Ubuntu", sans-serif;
  margin-left: -3px;
}

.home .home-content .about {
  font-size: 40px;
  font-family: "Smooch", cursive;
  margin: 5px 0;
}

.home .home-content .mini-intro {
  font-size: 40px;
  font-family: "Smooch", cursive;
  margin: 5px 0;
}

.home .home-content .mini-intro span {
  color: crimson;
  font-family: "Ubuntu", sans-serif;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  padding: 13px 24px;
  margin-top: 20px;
  margin-left: 12px;
  border-radius: 8px;
  border: 2px solid crimson;
  font-family: "Ubuntu", sans-serif;
  margin-left: 0;
}

.home .home-content a:hover {
  color: crimson;
  background: none;
}

/* about */

section {
  padding: 70px 0;
}
#about,
#projects,
#skill,#contact {
  font-family: "Ubuntu", sans-serif;
}

section .title {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
}

.about .about-content,
.projects .project-content,
.skill .skill-content,
.contact .contact-content
 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  font-family: "Ubuntu", sans-serif;
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 350px;
  width: 350px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  background: crimson;
}

.about .about-content .right {
  width: 55%;
  object-fit: cover;
}

.about .about-content .right .text {
  font-size: 30px;
  font-family: "Ubuntu", sans-serif;
  margin-bottom: 10px;
  text-align: center;
}
.about .about-content .right span {
  color: crimson;
  font-weight: bolder;
  margin-bottom: 10px;
}

.about .about-content .right p {
  text-align: justify;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
}

.about .about-content .right a {
  display: inline-block;
  color: crimson;
  font-family: "Ubuntu", sans-serif;
}
.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  padding: 13px 24px;
  margin-top: 20px;
  margin-left: 12px;
  border-radius: 8px;
  border: 2px solid crimson;
  font-family: "Ubuntu", sans-serif;
  margin-left: 0;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}
/* project */

.projects {
  color: black;
  background: transparent;
}

.projects .project-content {
  display: flex;
  flex-direction: column;
 
  justify-content: space-between;
}

.projects .project-content .card {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 20px;
}

.projects .project-content .tech {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  margin-top: 2%;
}

.projects .project-content .tech div{
font-size: 18px;
font-weight: 700;
margin-left: 20px;
}

.projects .project-content .card .img {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 25px;
}

.projects .project-content .card .body{
  width: 20%;
  font-family: "Heebo", sans-serif;
  font-size: 15px;
  font-weight: bold;
}



/* .projects .project-content .card .img:hover {
  transform: scale(1.1);
} */

.projects .project-content .card img {
  width: 65vw;
  height: 60vh;
  object-fit: cover;
}

.projects .project-content .card .text {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 10px auto;
}

.projects .project-content .card p {
  text-align: justify;
  font-size: 18px;
  font-family: "Heebo", sans-serif;
}

.projects .project-content .card .links {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: auto;
  margin-bottom: 30px;

}

.projects .project-content .card .pro-btn {
  display: inline-block;
  background: crimson;
  color: #fff;
  padding: 6px 12px;
  margin-top: 20px;
  margin-left: 12px;
  border-radius: 8px;
  border: 2px solid crimson;
  font-family: "Ubuntu", sans-serif;
  margin-left: 0;
  font-size: 18px;
  margin-left: 10px;
}

.projects .project-content .card .pro-btn:hover {
  color: crimson;
  background: none;
}


.skill .skill-content p{
text-align: justify;
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.skill .skill-content .column {
  width: calc(50% - 50px);
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  margin: 30px auto;
}

.skill .skill-content .column .text{
    margin-bottom: 10px;
    font-size: 25px;
}

.skill .skill-content .column .bars{
    text-align: justify;
  font-size: 16px;
  font-family: "Heebo", sans-serif;
  
}

.skill .skill-content .column .bars .info{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 15px;
}

.skill .skill-content .column .bars .info span{
    font-weight: bolder;
    font-size: 18px;
}

.skill .skill-content .column .bars  .line{
    height: 5px;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skill .skill-content .column .bars  .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left:0;
    top: 0;
    background: crimson;
}

.skill .skill-content .column .bars .html::before{
    width: 90%;
}

.skill .skill-content .column .bars .css::before{
    width: 50%;
}

.skill .skill-content .column .bars .javascript::before{
    width: 80%;
}
.skill .skill-content .column .bars .java::before{
    width: 90%;
}
.skill .skill-content .column .bars .git::before{
    width: 60%;
}
.skill .skill-content .column .bars .DSA::before{
    width: 60%;
}
.skill .skill-content .column .bars .TW::before{
    width: 90%;
}
.skill .skill-content .column .bars .TC::before{
    width: 90%;
}
.skill .skill-content .column .bars .rwork::before{
    width: 99%;
}

.skill .skill-content .column .bars .proactive::before{
    width: 95%;
}

.skill .skill-content .column .bars .PBM::before{
    width: 90%;
}

.skill .skill-content .column .bars .TM::before{
    width: 90%;
}


.stat{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 30px;
  flex-wrap: wrap;
}
.stat .box{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stat .box .hours{
  width:150px ;
  height: 150px;
  border: 18px solid rgba(220, 20, 60, 0.473);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
}




/* skill popupbutton */

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  background: grey;
  transform: translate(-50%, -90%);
  border: 1px solid black;
  border-radius: 5px;
  width: 50%;
  max-width: 80%;

}
.modal-header{
  padding: 8px 12px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid#333;
}


.modal-header .title{
  display: flex;
  align-items: center;
  padding: 8px 0 8px 0;
}
.modal-header .close-button{
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 42px;
  font-weight: bold;
}

.modal .modal-body{
  padding: 8px 13px;
}

/* #overlay{
  /* position: fixed; */








.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto 50px;
  font-family: "Ubuntu", sans-serif;
}


/* contact */

.contact .contact-content .column{
  width: calc(50% - 30px);
}

.contact .contact-content .text{
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Ubuntu", sans-serif;
  
}
.contact .contact-content .left p{
  text-align: justify;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}

.contact .contact-content .left .icons{
  margin: 10px 0;
}

.contact .contact-content .row{
  display: flex;
  height: 55px;
  align-items: center;
}

.contact .contact-content .row:nth-child(2){
  margin-left: -3px;
}

.contact .contact-content .row .info{
  margin-left: 25px;
}

.contact .contact-content .row i{
  font-size: 23px;
  color: crimson;
}

.contact .contact-content .row .info .head{
  font-weight: bold;
}

.contact .contact-content .row .info .sub-title{
  color: #333333;
}

.contact .contact-content .row .info .sub-title a{
  text-decoration: none;
  color: #333333;
}

.contact .right form .fields{
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field{
  height: 45px;
  width: 100%;
  margin-bottom: 18px;
  font-family: "Ubuntu", sans-serif;
}

.contact .right form .name{
  margin-right: 10px;
}

.contact .right form .email{
  margin-left: 10px;
}

.contact .right form .textarea{
  height: 120px;
  width: 100%;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  
}

.contact .right form .textarea textarea{
  padding: 10px 15px;
  resize: none;
}

.contact .right form .button{
  height: 45px;
  width: 145px;
}

.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover{
  color: crimson;
  background: transparent;
}


 footer{
  background: #333;
  height: 80px;
  font-size: 60px;
  font-family: "Smooch", cursive;
  text-align: center;
  color: #fff;
  font-weight: lighter;
  /* position: relative; */
  margin-bottom: -10px;
  padding-bottom: 0;
  border: 2px solid black;
}



.calendar{
  max-width: 80vw;
}









/* media query */

@media (max-width: 1054px) {
  .about .about-content .left img {
    height: 300px;
    width: 300px;
  }

  .about .about-content .right .text {
    font-size: 20px;
    font-family: "Heebo", sans-serif;
  }

  .projects .project-content .card .text {
    
    font-size: 20px;
  
  }

  /* .stat{
    grid-template-columns: repeat(3, 1fr);
  } */
  .stat .box .hours{
    height: 100px;
    width: 100px;
    border: 10px solid crimson;
    font-size: 25px;
  }
}
@media (max-width: 900px) {
  .max-width {
    width: 90%;
    padding: 0 15px;
    margin: auto;
  }

  

  .menu-btn {
    font-size: 23px;
    cursor: pointer;
    display: block;
    color: #fff;
    z-index: 999;
  }

  .navbar .menu {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 100px;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    color: #fff;
    display: inline-block;
    margin: 20px 0;
    font-size: 28px;
    transition: all 0.3s ease;
  }
  .navbar .menu li a:hover {
    color: crimson;
  }

  .navbar .logo a {
    font-size: 40px;
  }

  .home .home-content .hello {
    font-size: 30px;
  }

  .home .home-content .name {
    font-size: 40px;
  }

  .home .home-content .about {
    font-size: 20px;
  }

  .home .home-content .mini-intro {
    font-size: 20px;
  }

  .home .home-content .name {
    font-size: 30px;
  }

  .home .home-content a {
    font-size: 15px;
    padding: 10px 18px;
    margin-left: 0;
  }

  .projects .project-content .card {
    display: flex;
    flex-direction: column;
  }

  .projects .project-content .card img {
    width: 70vw;
    height: 60vh;
  }

  .projects .project-content .card .body{
    width: 100%;
  }
  .projects .project-content .card .pro-btn {
    font-size: 15px;
    padding: 10px 18px;
    margin-left: 0;
  }
}

@media (max-width: 790px) {
  .about .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about .about-content .left {
    width:100%;
    height: fit-content;
  }
  .about .about-content .left img{
    display: block;
    margin: auto;
  }
  .about .about-content .right {
    width: 100%;
    object-fit: cover;
  }

  .projects .project-content .card {
    display: flex;
    flex-direction: column;
  }
  .projects .project-content .card {
    margin: 50px auto;
    width: 100%;
  }

  .projects .project-content .card .links {
    justify-content: space-evenly;
  }

  .projects .project-content .card .body{
    width: 100%;
  }

  .projects .project-content .card img {
    width: 70vw;
  }

  .skill .skill-content{
    flex-direction: column;
    
  }

  .skill .skill-content .column{
    width: 100%;
  }

  .stat{
   grid-template-columns: repeat(4,1fr); 
  }

  .contact .contact-content{
    flex-direction: column;
    
  }

  .contact .contact-content .column{
    width: 100%;
  }

  .calendar{
    width: 80vw;
  }
}

@media (max-width: 520px){
  .stat{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 420px) {
  .home .home-content .name {
    font-size: 30px;
  }

 

  .home .home-content a {
    font-size: 23px;
    padding: 10px 18px;
  }

  .home .home-content .name {
    font-size: 30px;
  }

  .home .home-content a {
    font-size: 15px;
    padding: 10px 18px;
    margin-left: 0;
  }

  .about .about-content .left img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  .menu-btn {
    color: #fff;
  }
}
