@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato&family=Qwitcher+Grypen:wght@700&family=Smooch&family=Ubuntu:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* navbar Styling */

.max-width{
    max-width: 95%;
    margin:auto;
    padding: 0 60px;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.3s ease;
    z-index: 9999;
}
.navbar.sticky{
    padding: 5px 0;
    background: crimson;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar .logo a{
    color: rgb(0, 0, 0);
    font-size: 45px;
    font-family: 'Ubuntu', sans-serif;
    /* font-weight: ; */
}

.navbar.sticky .logo a span{
    color: #fff;
}

.navbar .logo a span{
    color: crimson;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .menu li a{
color: rgb(0, 0, 0);
margin-left: 25px;
font-size: 20px;
transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: crimson;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* Menu button */

.menu-btn{
    font-size: 23px;
    cursor: pointer;
    display: none;
    color: #fff;
}

/* home section */

.home{
    display: flex;
    border: 1px solid;
    background: url("pic/Background.png") no-repeat center;
    background-size: cover;
    height: 100vh;
}

.home .max-width{
margin: auto 0 auto 40px;
}

.home .home-content .hello{
    font-size: 50px;
    font-family: 'Smooch', cursive;
    margin-top: 50px;
}

.home .home-content .name{
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: -3px;
}


.home .home-content .about{
    font-size: 40px;
    font-family: 'Smooch', cursive;
    margin: 5px 0;
}

.home .home-content .mini-intro{
    font-size: 40px;
    font-family: 'Smooch', cursive;
    margin: 5px 0;
}

.home .home-content .mini-intro span{
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
}

.home .home-content a{
display: inline-block;
background: crimson;
color: #fff;
padding: 13px 24px;
margin-top: 20px;
margin-left: 12px;
border-radius: 8px;
border: 2px solid crimson;
font-family: 'Ubuntu', sans-serif;
margin-left: 0;
}

.home .home-content a:hover{
    color: crimson;
    background: none;
}

/* about */


section{
    padding: 100px 0;
}
.about{
    font-family: 'Poppins', sans-serif;
    
}

.about .title{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;
}





.about .about-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
}

.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.about .about-content .right{
    width: 55%;
    object-fit: cover;
}

.about .about-content .right .text{
    font-size: 30px;
    font-family: 'Heebo', sans-serif;
    margin-bottom: 10px;
    
}
.about .about-content .right span{
    color: crimson;
    font-weight: bolder;
    margin-bottom: 10px;
}

.about .about-content .right p{
    text-align: justify;
    font-family: 'Heebo', sans-serif;
}

.about .about-content .right a{
display: inline-block;
color: crimson;
font-family: 'Heebo', sans-serif;
}











/* media query */


@media(max-width:1054px){
    .about .about-content .left img{
        height: 300px;
        width: 300px;
    }

    .about .about-content .right .text{
        font-size: 20px;
        font-family: 'Heebo', sans-serif;
        
    }
}
@media(max-width:900px){

    .max-width{
        width: 90%;
        padding: 0 15px;
        margin: auto;
    }

    .menu-btn{
        font-size: 23px;
        cursor: pointer;
        display: block;
        color: black;
        z-index: 999;
    }

    .navbar .menu{
        position: fixed;
        background: black;
        height: 100vh;
        width:100%;
        left:-100%;
        top:0;
        text-align: center;
        padding-top: 100px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left:0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        color: #fff;
        display: inline-block;
        margin:20px 0;
        font-size: 28px;
        transition: all 0.3s ease;
    }
    .navbar .menu li a:hover{
        color: crimson;
    }

    .navbar .logo a{
        font-size: 40px;
    }

    .home .home-content .hello{
        font-size: 30px
    }
    
    .home .home-content .name{
        font-size: 40px
    }
    
    
    .home .home-content .about{
        font-size: 20px;
    }
    
    .home .home-content .mini-intro{
        font-size: 20px;
    }

    .home .home-content .name{
        font-size: 30px;
    }

    .home .home-content a{
        font-size: 15px;
        padding: 10px 18px;
        margin-left: 0;
    }
}


@media(max-width:790px){
    .about .about-content{
        flex-direction: column;
        align-items: center;
    }

    .about .about-content .left{
        /* width:100%; */
        height: fit-content;
    }

    

    .about .about-content .right{
        width: 100%;
        object-fit: cover;
    }
    
}


@media(max-width: 420px){

    .home .home-content .name{
        font-size: 30px;
    }

    .home .home-content a{
        font-size: 23px;
        padding: 10px 18px;
    }

    .home .home-content .name{
        font-size: 30px;
    }

    .home .home-content a{
        font-size: 15px;
        padding: 10px 18px;
        margin-left: 0;
    }

    .about .about-content .left img{
        height: 200px;
        width:200px;
        object-fit: cover;
    }
    .menu-btn{
        color: #fff;
    }
}