@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Lato&family=Open+Sans:wght@400;600;700&family=Qwitcher+Grypen:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}


/*  fonts */


/*  paper size*/
.paper-size {
  position: relative;
  min-height: 1000px;
  background: #fff;
  display: grid;
  grid-template-columns: 1fr 3fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.download-button a{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
}

/* left side */
.left {
  position: relative;
  background: #323b4c;
  padding: 0 20px;
  color: #fff;
}

.left .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
  line-height: 20px;
  margin-top: 50px;
}

.left .profile .img-box {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  /* border: 2px solid #fff; */
  background: rgba(0, 0, 0, 0.1) ;
}

.left .profile .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left .profile h2 {
  font-size: 2em;
  margin-top: 25px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
}

.left .profile h3 {
  font-size: 1.3em;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
}

.about {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.about .icons {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  align-items: center;
  font-size: 1em;
}

.about .icons a {
  text-decoration: none;
  color: #fff;
}

.about .icons i {
  font-size: 20px;
}

.education {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.education .box {
  margin-top: 15px;
  align-items: center;
  font-size: 1em;
}

.skills {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.skills .box {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: 1em;
  margin-left: -6px;
}

.skills .box div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 6px;
  margin: 5px;
}

.soft-skills {
  margin-top: 20px;
  margin-bottom: 40px;
}
.soft-skills .box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  margin-left: -6px;
}

.soft-skills .box div {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 4px 8px;
  border-radius: 6px;
  margin: 5px;
}

/* right side */

.right {
  position: relative;
  background: #fff;
  padding: 40px;
  border: 1px solid;
  color: #323b4c ;
}


.right .summary h1{
    line-height: 60px;
}
.right .summary h1{
font-size: 50px;
font-weight: 800;
}

.right .summary h1 span{
    font-weight: 500;
}

.right .summary h3{
    font-size: 25px;
    font-weight: 400;
}

.right .summary p{
    margin-top: 20px;
    text-align: justify;
}

.timeline {
    margin-top: 20px;
  }

  .timeline h2 {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(49, 49, 49, 0.6);
  }
  
  .timeline .masai-school {
    margin-top: 15px;
    align-items: center;
    font-size: 1em;
  }
  .timeline .masai-school h2{
    margin-top: -10px;
    padding-bottom: 10px;
  }

  .timeline .masai-school .points{
    margin: 20px;
    justify-content: center;
    
  }

  

  .timeline .masai-school .icon a {
    text-decoration: none;
    color: #323b4c ;
    font-weight: 600;
    margin-right: 10px;
  }
  
  .timeline .masai-school .icon i {
    font-size: 20px;
  }

  .timeline .masai-school .icon span{
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(49, 49, 49, 0.6);
  }

  .timeline .masai-school .box{
    margin-top: 10px;
  }
  .timeline .masai-school .box .icon{
    margin-top: 15px;
  }

  .timeline .masai-school .box h3{
    margin-top: 20px;
  }

  .timeline .masai-school .box .point{
    margin: 20px;
  }

  .parishad h2{
    margin: 20px auto 10px;
  }
  .parishad h3{
    margin: 10px auto;
  }